 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About Me</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p class="text-justify">I am a PHP programmer with seven years of experience in PHP, one year  of which are in Laravel specifically. Also i've experted in JavaScript and Linux. I love OpenSource and love work with Teams</p>
                </div>
                <div class="col-lg-4">
                    <p class="text-justify">After two Years in Iran army Serving i've got a new freshment! start with laravel and Recently i Started To Developing Mobile apps espicialy for android phone, i love to help to anyone who want to be a developer, in my blog i write about new thing i've learn from net</p>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <h1>Always Learn, Alway Teach </h1><br>
                       <small class="pull-right">that's my slogan</small> 
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#" class="btn btn-lg btn-outline">
                        <i class="fa "></i> Visit My blog
                    </a>
                </div>
            </div>
        </div>
    </section>